name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write
  id-token: write

jobs:
  release:
    name: Release
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: dpp-linux-x86_64
          - os: macos-latest
            target: x86_64-apple-darwin
            artifact_name: dpp-macos-x86_64
          - os: macos-latest
            target: aarch64-apple-darwin
            artifact_name: dpp-macos-aarch64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: dpp-windows-x86_64.exe

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 2.x

      - name: Build binary
        run: deno task build:target dist/${{ matrix.config.artifact_name }} --target ${{ matrix.config.target }} main.ts

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: dist/${{ matrix.config.artifact_name }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: 2.x

      - name: Publish to JSR
        run: deno publish
